$color-primary: #7ed56f;
$color-secondary :#55c57a;
$color-darkgren:#28b485;
$color-text:#777;
$color-gradient-one:rgb(126,213,111);
$color-gradient-two:rgb(40,180,133);
$color-white:#fff;
$color-grey:#f7f7f7;
$color-dark:#000;
$color-grey-2:#999;
$color-grey-3:#333;

$color-secondary-light:rgb(255, 185, 0);
$color-secondary-dark:rgb(255, 119, 48);

$color-teritery-light:rgb(41, 152, 255);
$color-teritery-dark:rgb(86, 67, 250);
 